* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
    /* border: red;
    border-style: solid; */
    font-family: "Pokemon";
}

@font-face {
    font-family: Pokemon;
    src: url("fonts/Pokemon Classic.ttf");
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 92svh;
    width: 100svw;
    padding: 4px;
}

.top, .message, .bottom {
    width: calc(100svw - 8px);
    height: calc(92svh / 3);
    padding: 0 4px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.bottom {
    display: flex;
    align-items: center;
}

h1 {
    background-image: url("images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 8px 0 8px;

    .input {
        background-color: #F8F8F8;
        border: 2px solid black;
        border-radius: 2px;
        color: black;
        width: 100%;
        padding: 0 8px;
    }

    .btnSubmit {
        display: flex;
        align-items: center;
        margin-left: 4px;
        border: 2px solid black;
        background-color: #ced4da;
        padding: 4px;
        border-radius: 2px;
        max-height: 24px;
    }
}

.professor {
    height: 180px;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.box {
    background-color: #FFFFFF;
    border: 6px double black;
    border-radius: 4px;
    color: black;
    padding: 8px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#rulesMessage {
    position: relative;
    bottom: 100px;
}

.expPoke {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    margin-top: 48px;
}

.pokemonName {
    font-size: 16px;
    margin-top: 16px;
}

.expContainer {
    width: 100%;
    height: 20px;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 4px;
}

.expBar {
    width: 0;
    height: 16px;
    background-color: green;
    border-radius: 3px;
}

.pokemon, .ash {
    width: 100px;
}

.ash {
    position: relative;
    bottom: 50px;
    margin-left: 32px;
}

.pokemonWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .pokedexInfo {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .name {
        font-size: 14px;
    }
}

.pokemonPokedex {
    width: 65px;
    margin-top: 8px;
}

.pokedollar-img {
    width: 30px;
}

.item-img {
    width: 60px;
}

.player, .backpack, .shop {
    margin-top: 16px;
    margin-right: 3px;
    width: 45px;
}

.pokedex {
    margin-top: 10px;
    margin-right: 9px;
    height: 50px;
}

.itemContainer {
    display: flex;
    margin-top: 8px;

    .itemImage {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .itemInfo {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .itemHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70svw;
    }

    .itemHeader h3 {
        font-size: 12px;
    }

    .cost {
        font-size: 14px;
        min-width: 50px;
        text-align: right;
    }
}

.modal {
    position: fixed;
    top: 20px;
    right: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 5px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.evolutionContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("images/evolution-background.avif");
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.evolutionName {
    margin: 24px auto 0;
}

.evolution-images {
    width: 100%;
    margin: 32px auto;
}

.evolving {
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s ease;
    display: block;
    margin: 0;
}

.current {
    width: 200px;
    z-index: 1001;
}

.new {
    width: 250px;
    z-index: 1002;
}

.playerModal {
    height: 300px;
}

.playerInfo {
    margin-top: 16px;
    font-size: 16px;
}

.reset {
    font-size: 16px;
    border: 6px double red;
    color: red;
    padding: 2px 8px;
    border-radius: 3px;
    margin: 32px auto 0;
}

#blackOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 1.5s ease;
    z-index: 1000;
}

.disabled {
    filter: grayscale(100%);
}

.mediaPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px;
}

.mediaPlayerBtn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 1px;
    cursor: pointer;
}

.mediaPlayerBtn:last-child {
    margin-left: 10px;
}

.mediaPlayerBtn i {
    pointer-events: none;
    width: 100%;
    text-align: center;
}

#blackOverlayPokeflute {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: black;
    z-index: 2000;
    transform: translate(-50%, -50%);
    will-change: transform, width, height;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

@keyframes expandSpiral {
    0% {
        width: 0;
        height: 0;
        transform: translate(-50%, -50%) rotate(0deg);
        transform-origin: center;
    }
    100% {
        width: 100vw;
        height: 100vh;
        transform: translate(-50%, -50%) rotate(1440deg);
        transform-origin: center;
    }
}

.expandSpiral {
    animation: expandSpiral 3s cubic-bezier(0.25, 0.8, 0.25, 1) 1;
    animation-fill-mode: forwards;
}

.wildPokemonContainer {
    background-image: url("images/wildPokemon-background.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2px;
    overflow: hidden;
    z-index: 2001;
    padding: 16px 8px;
}

.ashBack {
    width: 200px;
    align-self: flex-start;
    margin-top: 56px;
}

.wildPokemon {
    width: 150px;
    align-self: flex-end;
}

.wildPokemonText {
    text-align: center;
    height: 100px;
}

.capturePokemonContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.ballsContainer {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-content: space-between;
    width: 70%;
}

.ballInfo {
    display: flex;
}

.ballImg {
    margin-top: 50px;
    width: 100px;
    transition: 0.3s ease-in-out; 
}

@media (min-width: 425px) {
    .bottom {
        justify-content: center;
    }

    .modal {
        transform: translateX(50%);
        max-width: 400px;
        right: 208px;
    }

    .itemContainer {
        .itemHeader {
            width: 300px;
        }
    }

    .close-modal {
        position: fixed;
        top: 0;
        right: 0;
    }

    .wildPokemonContainer {
        padding: 40px 16px;
    }

    .capturePokemonContainer {
        padding: 0 8px;
    }
}

@media (min-width: 728px) {
    .expPoke {
        width: 500px;
    }

    .pokemon, .ash {
        width: 120px;
    }

    .ash {
        bottom: 60px;
    }
    
}