* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
    /* border: red;
    border-style: solid; */
    font-family: "Pokemon";
}

:root {
    --bleu-pokemon: #2F68B1;
    --jaune-pokemon: #FFCC01;
}

@font-face {
    font-family: Pokemon;
    src: url("fonts/Pokemon Classic.ttf");
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 92svh;
    width: 100svw;
    padding: 4px;
}

.top, .message, .bottom {
    width: calc(100svw - 8px);
    height: calc(92svh / 3);
    padding: 0 4px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.bottom {
    display: flex;
    align-items: center;
}

h1 {
    background-image: url("images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
}

.box {
    background-color: #FFFFFF;
    border: 6px double black;
    border-radius: 4px;
    color: black;
    padding: 8px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 8px 0 8px;

    .input {
        background-color: #F8F8F8;
        border: 2px solid black;
        border-radius: 2px;
        color: black;
        width: 100%;
        padding: 0 8px;
    }

    .btnSubmit {
        display: flex;
        align-items: center;
        margin-left: 4px;
        border: 2px solid black;
        background-color: #ced4da;
        padding: 4px;
        border-radius: 2px;
        max-height: 24px;
    }
}

.professor {
    height: 180px;
    margin: 0 auto;
}

.pokemon {
    width: 100px;
    margin: 0 auto;
}

.pokemonWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .pokedexInfo {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .name {
        font-size: 14px;
    }
}

.pokemonPokedex {
    width: 65px;
    margin-top: 8px;
}

.pokedollar-img {
    width: 30px;
}

.ash, .backpack, .shop, .pokedex {
    margin-top: 8px;
    margin-left: 3px;
    width: 40px;
}

.itemContainer {
    display: flex;
    margin-top: 8px;

    .itemImage {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .itemInfo {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .itemHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70svw;
    }

    .itemHeader h3 {
        font-size: 12px;
    }

    .cost {
        font-size: 14px;
        min-width: 50px;
        text-align: right;
    }
}

.modal {
    position: fixed;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1000;
}

.close-modal {
    position: fixed;
    top: 3px;
    right: 5px;
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.disabled {
    filter: grayscale(100%);
}